.map {
    width: 50vw;
    height: 70vh;
    margin: 0 auto;
    background-color: blanchedalmond;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .map {
        width: 90vw;
        height: 90vh;
    }
}

/*сделать карту черно-белой (в названии класса могут меняться цифры, поэтому селектор задается таким образом)*/
[class*="ground-pane"] {
    filter: grayscale(1);
}

/*скрыть "как добраться" и "доехать на такси" */
[class*="gotoymaps"], [class*="gototaxi"] {
    display: none !important;
}

/*скрыть значок авторского права*/
/* [class*="copyrights-pane"] {
    display: none !important;
} */


.balloon__address {
    color: #3b3b3b;
}

.balloon__contacts a {
    color: #818080;
}